{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    {% if object.status == 0 %}
    <h2 class="article-content">The post has been created and waiting to be
      approved.</h2>
    {% elif object.status == 2 %}
    <h2 class="article-content">This post has been declined and won't be
      published.</h2>
    {% else %}
    <div class="article-metadata">
      <small class="text-muted">by {{ object.author.first_name }}
        {{ object.created_on|date:"F d, Y" }}</small>
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content|safe }}</p>
    {% endif %}
  </div>
</article>

<div class="col-md-12 card mb-4  mt-3 ">
  <div class="card-body">
    <!-- comments -->
    <h4>{{ comments.count }} Comments</h4>

    {% for comment in comments %}
    <div class="comments" style="padding: 10px;">
      <p class="font-weight-bold">
        {{ comment.author }}
        <span class="text-muted font-weight-normal">
                {{ comment.created_on }}
          </span>
      </p>
      {{ comment.content | linebreaks }}
    </div>
    {% endfor %}
  </div>
</div>
<div class="col-md-12 card mb-4  mt-3 ">
  <div class="card-body">
    <h4>Leave a comment</h4>
    <form method="post" style="margin-top: 1.5em;">
      {{ comment_form|crispy}}
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-info">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}